<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About DVD Rentals</h2>
            <p>store 1</p>
            <p>store 2</p>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>