<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Week Nine</title>
    </head>
    <body>
        <h1>Create - Week Nine</h1>
        <h2>Even when creating and maintaining data the layers should not be dependent upon each others technology. Therefore, reuse is platform agnostic; CLI, web, device, and raspberryPi.</h2>
        <div class="create content">
            <form>
                <label for="title">Film title:</label>
                <input type="text" id="title" name="title" required>
                <label for="synopsis">synopsis:</label>
                <textarea id="synopsis" name="synopsis" required></textarea>
                <label for="rating">rating:</label>
                <input type="text" id="rating" name="rating" required>
                <button>Submit</button>
              </form>
        </div>
    </body>
</html>