<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="index content">
            <h2>Our top movies this month:</h2>
            <p>the power of the dog</p>
            <p>spiderman no way home</p>
            <p>don't look up</p>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>