<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Week Nine</title>
    </head>
    <body>
        <h1>Full-Stack JavaScript Week Ten</h1>
        <h2>Understanding and defining the layers in your stack is core concept to managing the complexity in full-stack.</h2>
    </body>
</html>