<nav>
    <h1>Week Nine</h1>
    <h2>A multi-tiered approach!</h2>
    <a href="/">[home]</a>
    <a href="/actress/best">[actress]</a>
    <a href="/awards">[awards]</a>
    <a href="/create">[create]</a>
    <a href="/about">[about]</a>
</nav>